1
.adobe
.aptitude
.bash_history
.bash_logout
.bashrc_copy170221
.cache
.codeblocks
.codelite
.compiz
.config
.dbus
dead.letter
Desktop
.dmrc
Documents
Downloads
.eclipse
examples.desktop
.FBReader
.gconf
.git
.gitconfig
.gitignore.swp
.gnome
.gnome2
.gnome2_private
.gnupg
.gvfs
.ICEauthority
IdeaProjects
.IntelliJIdea2016.3
.java
.kingsoft
.lesshst
.local
.m2
.macromedia
mbox
.mozilla
.mplayer
Music
mygo
myself
.mysql
.mysql_history
.nano
nohup.out
.npm
.oracle_jre_usage
.p2
Pictures
.pki
.presage
.profile
Public
.pulse-cookie
README.md
.recently-used
.sdcv_history
.sogouinput
.ssh
.stardict
.steam
.steampath
.steampid
.sudo_as_admin_successful
.sunpinyin
.swt
Templates
Videos
.vim
.viminfo
.vimrc
.vimrc-backup
.vscode
.wget-hsts
workspace
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
.xware-desktop
ycm_build
